@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;

html {
    scroll-behavior: smooth;
}

/* vietnamese */
/*@font-face {*/
/*    font-family: 'Cabin';*/
/*    font-style: italic;*/
/*    font-weight: 400 700;*/
/*    font-stretch: 100%;*/
/*    font-display: swap;*/
/*    src: url(https://fonts.gstatic.com/s/cabin/v27/u-4g0qWljRw-Pd815fNqc8T_wAFcX-c37OnhHXisAZFxqZQ.woff2) format('woff2');*/
/*    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;*/
/*}*/
/*!* latin-ext *!*/
/*@font-face {*/
/*    font-family: 'Cabin';*/
/*    font-style: italic;*/
/*    font-weight: 400 700;*/
/*    font-stretch: 100%;*/
/*    font-display: swap;*/
/*    src: url(https://fonts.gstatic.com/s/cabin/v27/u-4g0qWljRw-Pd815fNqc8T_wAFcX-c37OngHXisAZFxqZQ.woff2) format('woff2');*/
/*    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;*/
/*}*/
/*!* latin *!*/
/*@font-face {*/
/*    font-family: 'Cabin';*/
/*    font-style: italic;*/
/*    font-weight: 400 700;*/
/*    font-stretch: 100%;*/
/*    font-display: swap;*/
/*    src: url(https://fonts.gstatic.com/s/cabin/v27/u-4g0qWljRw-Pd815fNqc8T_wAFcX-c37OnuHXisAZFx.woff2) format('woff2');*/
/*    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
/*}*/
/*!* vietnamese *!*/
/*@font-face {*/
/*    font-family: 'Cabin';*/
/*    font-style: normal;*/
/*    font-weight: 400 700;*/
/*    font-stretch: 100%;*/
/*    font-display: swap;*/
/*    src: url(https://fonts.gstatic.com/s/cabin/v27/u-4i0qWljRw-PfU81xCKCpdpbgZJl6XvptnsF3-OA6Fw.woff2) format('woff2');*/
/*    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;*/
/*}*/
/*!* latin-ext *!*/
/*@font-face {*/
/*    font-family: 'Cabin';*/
/*    font-style: normal;*/
/*    font-weight: 400 700;*/
/*    font-stretch: 100%;*/
/*    font-display: swap;*/
/*    src: url(https://fonts.gstatic.com/s/cabin/v27/u-4i0qWljRw-PfU81xCKCpdpbgZJl6Xvp9nsF3-OA6Fw.woff2) format('woff2');*/
/*    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;*/
/*}*/
/*!* latin *!*/
/*@font-face {*/
/*    font-family: 'Cabin';*/
/*    font-style: normal;*/
/*    font-weight: 400 700;*/
/*    font-stretch: 100%;*/
/*    font-display: swap;*/
/*    src: url(https://fonts.gstatic.com/s/cabin/v27/u-4i0qWljRw-PfU81xCKCpdpbgZJl6XvqdnsF3-OAw.woff2) format('woff2');*/
/*    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
/*}*/

[v-cloak] {
    display: none;
}

body {
    font-family: 'DM Sans', sans-serif;
    @apply text-black bg-rafferly-light-gray tracking-tight;
}

.container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8
}

.input {
    @apply block w-full focus:ring-0 border-[#DDDDDD] focus:ring-0 focus:border-[#400180] rounded;
}

.button {
    @apply w-full flex justify-center py-4 px-6 border border-transparent text-lg text-white font-medium bg-[#161F6D] hover:bg-[#161F6D];
}

.alert {
    @apply py-4 px-6 border-2 border-[#161F6D] mt-10 mb-10 text-[#161F6D] block w-full
}

#video-container iframe,
#video-container object,
#video-container embed {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}

.link {
    @apply underline text-raffaly-primary;
}

.raffaly .card-countdown,
.raffaly .card-tickets,
.raffaly .detail-page-tickets,
.raffaly .detail-page-tab-active,
.raffaly .text-link {
    @apply text-raffaly-primary;
}

.raffaly .text-link {
    @apply underline;
}

.raffaly .detail-page-question-select-border {
    @apply border-[#E5E7EB];
}

.raffaly .detail-page-card-background {
    @apply bg-white;
}

.raffaly .detail-page-tab-active {
    @apply border-[#400180];
}

.raffaly .card-background {
    @apply p-0;
}

.raffaly .user-profile-account-background,
.raffaly .user-profile-details-background,
.raffaly .user-profile-shipping-address-background,
.raffaly .checkout-right-background {
    @apply bg-raffaly-gray;
}

.raffaly .user-profile-menu-active {
    @apply text-raffaly-primary;
}

.raffaly .user-profile-menu-inactive:hover {
    @apply text-raffaly-primary;
}

.raffaly .authentication-page-submit,
.raffaly .user-profile-details-submit,
.raffaly .user-profile-shipping-address-submit,
.raffaly .details-page-submit,
.raffaly .checkout-submit {
    @apply text-[#FFF];
}

.raffaly .authentication-page-submit-background {
    @apply bg-[#161F6D] rounded;
}

.raffaly .user-profile-details-submit-background,
.raffaly .user-profile-shipping-address-submit-background,
.raffaly .user-profile-menu-number,
.raffaly .details-page-submit-background,
.raffaly .checkout-submit-background {
    @apply bg-raffaly-primary;
}

.input-append {
    @apply rounded-tl rounded-bl shadow-sm focus:ring-0 border-l-2 border-t-2 border-b-2 bg-[#DDDDDD] border-[#DDDDDD] text-black px-2 flex items-center justify-center;
}

.input-prepend {
    @apply rounded-tr-md rounded-br-md shadow-sm focus:ring-0 border-l-2 border-t-2 border-b-2 bg-[#DDDDDD] border-[#DDDDDD] text-black px-2 flex items-center justify-center;
}

.boolean-icon-green {
    @apply h-5 w-5 text-green-500;
}

.boolean-icon-red {
    @apply h-5 w-5 text-red-500;
}

.boolean-icon-yellow {
    @apply h-5 w-5 text-yellow-500;
}

.body-background {
    @apply bg-rafferly-light-gray;
}

.user-profile-entries-background {
    @apply bg-white;
}

.raffaly .page-header-subtext {
    @apply text-gray-700;
}

.ticket .card-countdown{
    @apply text-black;
}

.input-error {
    @apply border-red-500;
}

label {
    @apply font-semibold;
}

[v-cloak] {
    display: none;
}

swiper-container {
    --swiper-navigation-size: 5px;
    --swiper-navigation-color: #000;
    --swiper-pagination-color: #92a4ae;
    --swiper-pagination-bullet-border-radius: 6px;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 4px;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-width: 6px;
    --swiper-pagination-bullet-height: 6px;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-inactive-color: #254a5d;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-preloader-color: var(--swiper-theme-color);
}

swiper-container {
    /* styles */
    display: grid;
}

swiper-container::part(bullet) {
    /* styles */
}

swiper-container::part(bullet-active) {
    /* styles */
}

swiper-container::part(pagination) {
    margin-top: 100px;
    background: rgba(255, 255, 255, 0.5);
}

swiper-container::part(container) {
    /* styles */
}

swiper-container::part(button-prev),
swiper-container::part(button-next) {
    /* styles */
    border-radius: 99999px;
    padding: 5px;
    height: 15px;
    width: 15px;
    background: rgba(255, 255, 255, 0.75);
}

.wpwl-form-card {
    border: none;
    box-shadow: none;
    background: white;
    @apply grid grid-cols-2 gap-2 p-5 lg:p-10 rounded-xl m-0 max-w-full;
}

.wpwl-group-cardNumber, .wpwl-label-cardHolder, .wpwl-group-submit, .wpwl-group-cardHolder {
    @apply col-span-2 w-full p-0;
}

.wpwl-wrapper-cardNumber {
    @apply col-span-2;
}

.wpwl-group-expiry {
    @apply w-full p-0;
}

.wpwl-group-expiry {
    @apply w-full p-0;
}

.wpwl-label, .wpwl-wrapper {
    @apply w-full;
}

.wpwl-button-pay, .wpwl-button-pay:hover, .wpwl-button-pay:disabled {
    @apply px-3 py-2 text-base border-2 border-raffaly-primary bg-raffaly-primary text-white rounded-xl;
}

.wpwl-group {
    @apply flex flex-col gap-1 m-0;
}

.wpwl-group-cardNumber {
    @apply grid grid-cols-2;
}

.wpwl-group-cardNumber:before {
    display: none;
}

.wpwl-group-brand {
    display: none;
}

.wpwl-brand-card {
    display: none !important;
}

.wpwl-control {
    @apply input border-0 bg-[#F5F5F5] rounded-md m-0;
}

.wpwl-group-billing {
    @apply w-full col-span-2;
}

.wpwl-wrapper-billing {
    @apply grid grid-cols-1 lg:grid-cols-2 gap-2 w-full;
}

.wpwl-wrapper-billing input, .wpwl-wrapper-billing select {
    @apply mt-0;
}

.wpwl-form-virtualAccount-GOOGLEPAY, .wpwl-form-virtualAccount-APPLEPAY {
    margin: 0 !important;
}

.wpwl-container-virtualAccount-APPLEPAY {
    @apply w-full;
}

.gpay-card-info-container-fill, .apple-pay-btn {
    height: 40px !important;
}

.gpay-card-info-container {
    width: 100% !important;
}

apple-pay-button {
    --apple-pay-button-height: 40px;
}

@tailwind utilities;
